<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
		<script th:src="@{/js/form.js}"></script>
	</head>
	<body>
		<div>
			<span th:text = "${user.userName}"></span><br>
			<span th:text = "${manager.classArea}"></span>教室
		</div>
		<br>
		<div>
			テンプレートから選択
			<table border="1" style="border-collapse: collapse">
				<tr th:each = "t : ${templateList}">
					<td><a href = "" th:onclick = "'setTemplate(\''+__${t.id}__+'\'); return false;'"><span th:text = "${t.title}"></span></a></td>
					<td th:id = "${'timeStart-'+t.id}" style = "display: none;" th:text = "${t.timeStart}"></td>
					<td th:id = "${'timeEnd-'+t.id}" style = "display: none;" th:text = "${t.timeEnd}"></td>
					<td th:id = "${'classM-'+t.id}" style = "display: none;" th:text = "${t.classM}"></td>
					<td th:id = "${'classK-'+t.id}" style = "display: none;" th:text = "${t.classK}"></td>
					<td th:id = "${'classS-'+t.id}" style = "display: none;" th:text = "${t.classS}"></td>
					<td th:id = "${'classA-'+t.id}" style = "display: none;" th:text = "${t.classA}"></td>
					<td th:id = "${'classB-'+t.id}" style = "display: none;" th:text = "${t.classB}"></td>
					<td th:id = "${'classC-'+t.id}" style = "display: none;" th:text = "${t.classC}"></td>
					<td th:id = "${'classD-'+t.id}" style = "display: none;" th:text = "${t.classD}"></td>
					<td th:id = "${'breakTime-'+t.id}" style = "display: none;" th:text = "${t.breakTime}"></td>
					<td th:id = "${'officeTimeStart-'+t.id}" style = "display: none;" th:text = "${t.officeTimeStart}"></td>
					<td th:id = "${'officeTimeEnd-'+t.id}" style = "display: none;" th:text = "${t.officeTimeEnd}"></td>
					<td th:id = "${'otherWork-'+t.id}" style = "display: none;" th:text = "${t.otherWork}"></td>
					<td th:id = "${'otherTimeStart-'+t.id}" style = "display: none;" th:text = "${t.otherTimeStart}"></td>
					<td th:id = "${'otherTimeEnd-'+t.id}" style = "display: none;" th:text = "${t.otherTimeEnd}"></td>
					<td th:id = "${'otherBreakTime-'+t.id}" style = "display: none;" th:text = "${t.otherBreakTime}"></td>
					<td th:id = "${'carfare-'+t.id}" style = "display: none;" th:text = "${t.carfare}"></td>
					<td th:id = "${'helpArea-'+t.id}" style = "display: none;" th:text = "${t.helpArea}"></td>
				</tr>
			</table>
		</div>
		<br>
		<div>
			シフト登録
			<form th:action = "@{/addForm}" method = "post" th:object = "${workCreateForm}">
				<table border="1" style="border-collapse: collapse">
					<tr><th>勤務日</th><td><div><input id = "date" type = "date" th:field = "*{date}" required></div></td></tr>
					<tr>
						<th>勤務コマ</th>
						<td>
							<div>
							<input id = "classM" type = "checkbox" th:field = "*{classM}" value = "true">
							<label for = "classM">M　</label>
							<input id = "classK" type = "checkbox" th:field = "*{classK}" value = "true">
							<label for = "classK">K　</label>
							<input id = "classS" type = "checkbox" th:field = "*{classS}" value = "true">
							<label for = "classS">S　</label>
							<input id = "classA" type = "checkbox" th:field = "*{classA}" value = "true">
							<label for = "classA">A　</label>
							<br>
							<input id = "classB" type = "checkbox" th:field = "*{classB}" value = "true">
							<label for = "classB">B　</label>
							<input id = "classC" type = "checkbox" th:field = "*{classC}" value = "true">
							<label for = "classC">C　</label>
							<input id = "classD" type = "checkbox" th:field = "*{classD}" value = "true">
							<label for = "classD">D　</label>
							</div>
						</td>
					</tr>
					<tr><th>ヘルプ勤務教室</th><td><div><input id = "helpArea" type = "text" th:field = "*{helpArea}"></div></td></tr>
					<tr>
						<th>授業業務</th>
						<td>
							<div><label for = "timeStart">開始 - </label><input id = "timeStart" type = "time" th:field = "*{timeStart}"></div>
							<div><label for = "timeEnd">終了 - </label><input id = "timeEnd" type = "time" th:field = "*{timeEnd}"></div>
						</td>
					</tr>
					<tr><th>休憩</th><td><div><input id = "breakTime" type = "number" th:field = "*{breakTime}"> 分</div></td></tr>
					<tr><th>交通費</th><td><div><input id = "carfare" type = "number" th:field = "*{carfare}"> 円</div></td></tr>
					<tr>
						<th>事務</th>
						<td>
							<div><label for = "officeTimeStart">開始 - </label><input id = "officeTimeStart" type = "time" th:field = "*{officeTimeStart}"></div>
							<div><label for = "officeTimeEnd">終了 - </label><input id = "officeTimeEnd" type = "time" th:field = "*{officeTimeEnd}"></div>
						</td>
					</tr>
					<tr>
						<th>研修/自習教室</th>
						<td>
							<div><label for = "otherWork">内容 - </label><input id = "otherWork" type = "text" th:field = "*{otherWork}"></div>
							<div><label for = "otherTimeStart">開始 - </label><input id = "otherTimeStart" type = "time" th:field = "*{otherTimeStart}"></div>
							<div><label for = "otherTimeEnd">終了 - </label><input id = "otherTimeEnd" type = "time" th:field = "*{otherTimeEnd}"></div>
							<div><label for = "otherBreakTime">休憩 - </label><input id = "otherBreakTime" type = "number" th:field = "*{otherBreakTime}"> 分</div>
						</td>
					</tr>
				</table>
				<div style = "display: none;">
					<input id = "userId" type = "text" th:field = "*{userId}">
				</div>
				<div>
					<input type = "submit" value = "登録">
				</div>
			</form>
		</div>
		<div>
			<a th:href = "@{/index(user=${user.id}, year=${year}, month=${month})}">ホームへ戻る</a>
		</div>
	</body>
</html>
