<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
	</head>
	<body>
		<div>
			<span th:text = "${manager.classArea}"></span>教室<br>
			<span th:text = "${user.userName}"></span>
		</div>
		<br>
		<div>
			<a th:href = "@{/detailUser(manager=${manager.id}, user=${user.id}, year=${yearBefore}, month=${monthBefore})}">先月</a>
			<a th:href = "@{/detailUser(manager=${manager.id}, user=${user.id}, year=${yearNext}, month=${monthNext})}">来月</a>
		</div>
		<div>
			<a th:href = "@{/indexManager(manager=${manager.id})}">ホームへ戻る</a>
		</div>
		<br>
		<div>
			<a th:href = "@{/createForm(manager=${manager.id}, user=${user.id}, year=${year}, month=${month})}">シフト登録</a>
		</div>
		<br>
		<div>
			<a th:href="@{/downloadExcel(user=${user.id}, year=${year}, month=${month})}">Excelファイルをダウンロード</a>
		</div>
		<br>
		<div>
			<table border="1" style="border-collapse: collapse">
				<tr>
					<th>教室名</th><td><span th:text = "${manager.classArea}"></span>教室</td>
					<th>講師氏名</th><td><span th:text = "${user.userName}"></span></td>
					<td colspan = "2"><span th:text = "${year+'年'+month+'月分　'+monthBefore+'月26日〜'+month+'月25日'}"></span></td>
				</tr>
			</table>
		</div>
		<br>
		<div style = "display: flex;">
			<table border="1" style="border-collapse: collapse">
				<tr>
					<th>勤務コマ数</th>
					<th>勤務日数</th>
					<th>事務時間(分)</th>
					<th>日時手当</th>
					<th>交通費</th>
					<th>研修時間(分)</th>
					<th>時間外(分)</th>
					<th>超過(分)</th>
					<th>深夜(分)</th>
				</tr>
				<tr>
					<td><th:block th:if="${sumSalary[0] != 0}"><span th:text = "${sumSalaryFormatted[0]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[2] != 0}"><span th:text = "${sumSalaryFormatted[2]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[5] != 0}"><span th:text = "${sumSalaryFormatted[5]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[9] != 0}"><span th:text = "${sumSalaryFormatted[9]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[11] != 0}"><span th:text = "${sumSalaryFormatted[11]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[7] != 0}"><span th:text = "${sumSalaryFormatted[7]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[3] != 0}"><span th:text = "${sumSalaryFormatted[3]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[12] != 0}"><span th:text = "${sumSalaryFormatted[12]}"></span></th:block></td>
					<td><th:block th:if="${sumSalary[14] != 0}"><span th:text = "${sumSalaryFormatted[14]}"></span></th:block></td>
				</tr>
			</table>
			<div>
				<p>　</p>
			</div>
			<table border="1" style="border-collapse: collapse">
				<tr><th rowspan = "2">交通費</th><td>①</td><td>②</td></tr>
				<tr><td></td><td><span th:text = "${sumSalaryFormatted[17]}"></span></td></tr>
			</table>
		</div>
		<br>
		<div>
			<table border="1" style="border-collapse: collapse">
				<tr>
					<th rowspan = "2" colspan = "2">勤務日</th>
					<th rowspan = "2">勤務コマ</th>
					<th rowspan = "2">コマ数</th>
					<th rowspan = "2">ヘルプ<br>勤務教室</th>
					<th colspan = "2">授業業務</th>
					<th rowspan = "2">休憩</th>
					<th colspan = "3">事務業務</th>
					<th rowspan = "2">日時手当</th>
					<th rowspan = "2">交通費</th>
					<th colspan = "5">研修(実施会場)/自習教室</th>
					<th rowspan = "2">時間外</th>
					<th rowspan = "2">超過</th>
					<th rowspan = "2">深夜</th>
				</tr>
				<tr>
					<th>開始</th>
					<th>終了</th>
					<th>開始</th>
					<th>終了</th>
					<th>時間</th>
					<th>内容</th>
					<th>開始</th>
					<th>終了</th>
					<th>休憩</th>
					<th>時間</th>
				</tr>
				<th:block th:if = "${!#lists.isEmpty(workList)}">
				<tr th:each = "w : ${workList}">
					<td><a th:href = "@{/setForm(manager=${manager.id}, user=${user.id}, edit=${w.id}, year=${year}, month=${month})}"><span th:text = "${w.date.substring(5,10).replace('-','月')+'日'}"></span></a></td>
					<td th:text = "${w.dayOfWeek}"></td>
					<td>
						<th:block th:if = "${w.classM}"><span th:text = "'M'"></span></th:block>
						<th:block th:if = "${w.classK}"><span th:text = "'K'"></span></th:block>
						<th:block th:if = "${w.classS}"><span th:text = "'S'"></span></th:block>
						<th:block th:if = "${w.classA}"><span th:text = "'A'"></span></th:block>
						<th:block th:if = "${w.classB}"><span th:text = "'B'"></span></th:block>
						<th:block th:if = "${w.classC}"><span th:text = "'C'"></span></th:block>
						<th:block th:if = "${w.classD}"><span th:text = "'D'"></span></th:block>
					</td>
					<td><th:block th:if = "${w.classCount != 0}"><span th:text = "${w.classCount}"></span></th:block></td>
					<td th:text = "${w.helpArea}"></td>
					<td th:text = "${w.timeStart}"></td>
					<td th:text = "${w.timeEnd}"></td>
					<td><th:block th:if = "${w.breakTime != 0}"><span th:text = "${w.breakTime/60}"></span>:<span th:text="${w.breakTime%60 < 10 ? '0' + w.breakTime%60 : w.breakTime%60}"></span></th:block></td>
					<td th:text = "${w.officeTimeStart}"></td>
					<td th:text = "${w.officeTimeEnd}"></td>
					<td><th:block th:if = "${w.officeTime != 0}"><span th:text = "${w.officeTime/60}"></span>:<span th:text="${w.officeTime%60 < 10 ? '0' + w.officeTime%60 : w.officeTime%60}"></span></th:block></td>
					<td><th:block th:if = "${w.supportSalary == 'true'}"><span th:text = "${supportSalaryMap.get(w.id)}"></span></th:block></td>
					<td><th:block th:if = "${w.carfare != 0}"><span th:text = "${carfareMap.get(w.id)}"></span></th:block></td>
					<td th:text = "${w.otherWork}"></td>
					<td th:text = "${w.otherTimeStart}"></td>
					<td th:text = "${w.otherTimeEnd}"></td>
					<td><th:block th:if = "${w.otherBreakTime != 0}"><span th:text = "${w.otherBreakTime/60}"></span>:<span th:text="${w.otherBreakTime%60 < 10 ? '0' + w.otherBreakTime%60 : w.otherBreakTime%60}"></span></th:block></td>
					<td><th:block th:if = "${w.otherTime != 0}"><span th:text = "${w.otherTime/60}"></span>:<span th:text="${w.otherTime%60 < 10 ? '0' + w.otherTime%60 : w.otherTime%60}"></span></th:block></td>
					<td><th:block th:if = "${w.outOfTime != 0}"><span th:text = "${w.outOfTime/60}"></span>:<span th:text="${w.outOfTime%60 < 10 ? '0' + w.outOfTime%60 : w.outOfTime%60}"></span></th:block></td>
					<td><th:block th:if = "${w.overTime != 0}"><span th:text = "${w.overTime/60}"></span>:<span th:text="${w.overTime%60 < 10 ? '0' + w.overTime%60 : w.overTime%60}"></span></th:block></td>
					<td><th:block th:if = "${w.nightTime != 0}"><span th:text = "${w.nightTime/60}"></span>:<span th:text="${w.nightTime%60 < 10 ? '0' + w.nightTime%60 : w.nightTime%60}"></span></th:block></td>
				</tr>
				</th:block>
			</table>
		</div>
		<br>
		<div>
			<table border="1" style="border-collapse: collapse">
				<tr><th>コマ給</th><th>コマ数</th><th>①コマ給×コマ数</th><th>②日時手当</th><th>③事務給</th></tr>
				<tr>
					<td>¥<span th:text = "${sumSalaryFormatted[18]}"></span></td>
					<td><span th:text = "${sumSalaryFormatted[0]}"></span>コマ</td>
					<td>¥<span th:text = "${sumSalaryFormatted[1]}"></span></td>
					<td>¥<span th:text = "${sumSalaryFormatted[9]}"></span></td>
					<td>¥<span th:text = "${sumSalaryFormatted[6]}"></span></td>
				</tr>
				<tr><th colspan = "2">④研修費・時間外</th><th>⑤その他</th><th>所得税</th><th>交通費計</th></tr>
				<tr>
					<td colspan = "2">¥<span th:text = "${sumSalaryFormatted[19]}"></span></td>
					<td>¥<span th:text = "${sumSalaryFormatted[10]}"></span></td>
					<td>¥<span th:text = "'0'"></span></td>
					<td>¥<span th:text = "${sumSalaryFormatted[11]}"></span></td>
				</tr>
			</table>
		</div>
		<br>
		<div>
			※「④研修費・時間外」内訳
			<table border="1" style="border-collapse: collapse">
				<tr><th>研修・自習室(円/分)</th><th>時間外勤務(円/分)</th><th>超過勤務割増(円/分)</th><th>深夜勤務割増(円/分)</th></tr>
				<tr>
					<td><span th:text = "${sumSalaryFormatted[8]+'円/'+sumSalaryFormatted[7]+'分'}"></span></td>
					<td><span th:text = "${sumSalaryFormatted[4]+'円/'+sumSalaryFormatted[3]+'分'}"></span></td>
					<td><span th:text = "${sumSalaryFormatted[13]+'円/'+sumSalaryFormatted[12]+'分'}"></span></td>
					<td><span th:text = "${sumSalaryFormatted[15]+'円/'+sumSalaryFormatted[14]+'分'}"></span></td>
				</tr>
			</table>
		</div>
		<br>
		<div>
			<table border="1" style="border-collapse: collapse">
				<tr><th>差引支給額</th></tr>
				<tr><td>¥<span th:text = "${sumSalaryFormatted[16]}"></span></td></tr>
			</table>
		</div>
		<br>
		<div>
			※①〜⑤の合計額が¥88,000を超えた場合、所得税を徴収致します。<br>
			※「⑤その他」は、研修期間終了による昇給で生じた差額等です。<br>
			※自習室は、「④研修費/時間外」に含まれます。<br>
		</div>
	</body>
</html>
