<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
	</head>
	<body>
		<div>
			<span th:text = "${manager.classArea}"></span>教室<br>
			<span th:text = "${user.userName}"></span>
		</div>
		<br>
		<div>
			<table border="1" style="border-collapse: collapse">
				<tr><th></th><th>コマ給</th><th>事務給</th><th>日時手当</th><th>交通費</th></tr>
				<th:block th:each = "s : ${salaryList}">
					<tr>
						<td th:text = "${s.dateFrom.substring(0, 5).replace('-','/')+s.dateFrom.substring(5,10).replace('-','/')+'〜'}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[0]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[1]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[2]}"></td>
						<td th:text = "${'¥'+salaryMapFormatted.get(s.id)[3]}"></td>
					</tr>
				</th:block>
			</table>
		</div>
		<br>
		<div>
			<a th:href = "@{/user(user=${user.id}, year=${year}, month=${month})}">戻る</a>
		</div>
	</body>
</html>
