<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
		<link th:href="@{/css/indexManager.css}" rel="stylesheet">
	</head>
	<body>
		
		<div class="header">
		    <h1>勤怠管理システムfor学習塾</h1>
		    <a th:href="@{/indexManager(manager=${manager.id})}"></a>
		</div>

		<div class="main">
			<div class="teacherTable">
			<p>在籍講師一覧</p>
			</div>
			<div class="mainTable">
			<table border="1" style="border-spacing: 0;">
				<tr colspan="3" th:each = "u : ${userList}">
					<td th:text = "${u.userName}"></td>
					<td><a th:href= "@{/detailUser(manager=${manager.id}, user=${u.id}, year=${year}, month=${month})}">給与明細</a></td>
					<td><a th:href= "@{/infoUser(manager=${manager.id}, user=${u.id})}">基本情報</a></td>
				</tr>
			</table>
		    </div>
		</div>
		<br>

		<div class="side">
		<div class="className" id="sideContents">
			<span th:text = "${manager.classArea}"></span>教室
		</div>

		<div class="newAccount" id="sideContents">
			<p>新規講師登録</p>
			<a th:href="@{/signUp(manager=${manager.id})}"></a>
		</div>

		<div class="classInformation" id="sideContents">
			<p>教室情報</p>
			<a th:href="@{/infoManager(manager=${manager.id})}"></a>
		</div>

		
		<div class="logout" id="sideContents">
			<p>ログアウト</p>
			<a th:href="@{/loginManager}"></a>
		</div>
		</div>
	</body>
</html>
