<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>勤怠管理システム</title>
	</head>
	<body>
		<div>
			<h1>講師ログイン</h1>
			<form th:action = "@{/login}" method = "post" th:object = "${userLoginForm}">
				<div>
					<label for = "loginId">ログインID</label>
					<input id = "loginId" type = "text" th:field = "*{loginId}" required>
				</div>
				<div>
					<label for = "password">パスワード</label>
					<input id = "password" type = "text" th:field = "*{password}" required>
				</div>
				<div>
					<input type = "submit" value = "ログイン">
				</div>
			</form>
		</div>
	</body>
</html>
